
body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    top: 0;
    left: 0;
    z-index: -2;
    
}



#backgroundLeft{
    background-color: #f7f7f7;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 101%;
    height: 17rem;
    z-index: -1;
    margin-top: -.3rem;
    margin-left: -.3rem;
}
@media screen and (min-width: 768px){
    #backgroundLeft{
    top: 0;
    left: 0;
    width: 50.5%;
    height: 101vh;
    }
}


#newGame{
    font-size: 1.3rem;
    font-weight: 300;
}



@media screen and (min-width: 768px){
    #game{
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 768px){
    .block1{
        display: flex;
        height: 33rem;
        flex-direction: column;
        justify-content: space-between;
    }
}
    



#roundFirstPlayer{
    padding-top: 2rem;
    color: #D11B1B;
    font-size: 3rem;
    font-weight: 200;
}
@media screen and (min-width: 768px){
    #roundFirstPlayer{ 
        padding-top: 8rem;
    }
}

#controle{
    margin-top: 2.3rem;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

@media screen and (min-width: 768px){
    #controle{
        border-top: none;
        border-bottom: none;

    }
}

#boutton{
    margin-top: 2rem;
}

@media screen and (min-width: 768px){
    #boutton{
        margin-top: 9rem;
    }
}


h2{
    font-weight: 300;
    
}

#roundSecondPlayer{
    padding-top: 2rem;
    color: #EA3434;
    font-size: 3rem;
    font-weight: 200;
}
@media screen and (min-width: 768px){
    #roundSecondPlayer{ 
        padding-top: 8rem;
    }
}

#backgroundScore1{
    width: 6rem;
    background-color: #D11B1B;
}
#backgroundScore2{
    width: 6rem;
    background-color: #EA3434;
}

.btn{
    color: black;
    text-decoration: none;
    font-weight: 300;
}

h3{
    font-size: 1rem;
}

#scoreFirstPlayer{
    color: white;
}
#scoreSecondPlayer{
    color: white;
}

/* --------------------- Le dé ---------------------- */

#dice {
    margin-top: 2rem;
    width: 90px;
    height: 90px;
    transform-style: preserve-3d;
    transition: transform 1.5s ease-out;
}

@media screen and (min-width: 768px){
    #dice{
        margin-top: 9rem;
    }
}

#dice:hover {
  cursor: pointer;
}

.sides{
    background-color: #EFE5DC;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}

.dot {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: black;
    transform: translate(-50%, -50%);
}

.side-1 .dot-1 { top: 50%; left: 50%; }

.side-2 .dot-1 { top: 25%; left: 25%; }
.side-2 .dot-2 { top: 75%; left: 75%; }

.side-3 .dot-1 { top: 25%; left: 25%; }
.side-3 .dot-2 { top: 75%; left: 75%; }
.side-3 .dot-3 { top: 50%; left: 50%; }

.side-4 .dot-1 { top: 25%; left: 25%; }
.side-4 .dot-2 { top: 25%; left: 75%; }
.side-4 .dot-3 { top: 75%; left: 25%; }
.side-4 .dot-4 { top: 75%; left: 75%; }

.side-5 .dot-1 { top: 25%; left: 25%; }
.side-5 .dot-2 { top: 25%; left: 75%; }
.side-5 .dot-3 { top: 75%; left: 25%; }
.side-5 .dot-4 { top: 75%; left: 75%; }
.side-5 .dot-5 { top: 50%; left: 50%; }

.side-6 .dot-1 { top: 25%; left: 25%; }
.side-6 .dot-2 { top: 25%; left: 75%; }
.side-6 .dot-3 { top: 75%; left: 25%; }
.side-6 .dot-4 { top: 75%; left: 75%; }
.side-6 .dot-5 { top: 50%; left: 25%; }
.side-6 .dot-6 { top: 50%; left: 75%; }

#dice .side-1 {
  transform: translateZ(45px);
}
#dice .side-2 {
  transform: rotateX(-180deg) translateZ(45px);
}
#dice .side-3 {
  transform: rotateY(90deg) translateZ(45px);
}
#dice .side-4 {
  transform: rotateY(-90deg) translateZ(45px);
}
#dice .side-5 {
  transform: rotateX(90deg) translateZ(45px);
}
#dice .side-6 {
  transform: rotateX(-90deg) translateZ(45px);
}

#dice[data-side="1"] {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="2"] {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}
#dice[data-side="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}
#dice[data-side="4"] {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}
#dice[data-side="5"] {
    transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="6"] {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

#dice[data-side="1"].reRoll {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="2"].reRoll {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
#dice[data-side="3"].reRoll {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}
#dice[data-side="4"].reRoll {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
#dice[data-side="5"].reRoll {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="6"].reRoll {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}
