
body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: relative;
    top: 0;
    left: 0;
    z-index: -2;
    
}



#backgroundLeft{
    background-color: #C1C1C1;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 101%;
    height: 17rem;
    z-index: -1;
    margin-top: -.5rem;
    margin-left: -.5rem;
}


#newGame{
    font-size: 1.3rem;
    font-weight: 300;
}

#game{
    height: 100vh;
}


#roundFirstPlayer{
    padding-top: 2rem;
    color: #D11B1B;
    font-size: 3rem;
    font-weight: 200;
}

#controle{
    margin-top: 2rem;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

#boutton{
    margin-top: 2rem;
}

h2{
    font-weight: 300;
    
}

#roundSecondPlayer{
    padding-top: 2rem;
    color: #EA3434;
    font-size: 3rem;
    font-weight: 200;
}

#backgroundScore1{
    width: 6rem;
    background-color: #D11B1B;
}
#backgroundScore2{
    width: 6rem;
    background-color: #EA3434;
}

.btn{
    color: black;
    text-decoration: none;
    font-weight: 300;
}

h3{
    font-size: 1rem;
}

#scoreFirstPlayer{
    color: white;
}
#scoreSecondPlayer{
    color: white;
}